.resume
{
  color:black;
}

{
    text-decoration: None;
}


h3
 {
    
    background: lightgreen;
    padding:10px;
}

body
{
    text-align:justify;
}


.sign
{
        text-align:right;
        width:1180px;
}
